.textGradient {
  background: -webkit-linear-gradient(47deg, #024eff, #ff009d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}
